@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,600;1,600&display=swap');
@import "tailwindcss";

body{
    background: black;
}

#scroller[data-animated = "true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    max-width: 1440px;
}

#scroller[data-animated = "true"] #inner-scroller{
    width: max-content;
    flex-wrap: nowrap;

    animation: scroll var(--animation-speed, 20s)
    var(--animation-direction, forwards)
    linear
    infinite;
}

/* #scroller[data-animated="true"]:hover #inner-scroller {
  animation-play-state: var(--animation-hover-state, paused);

#scroller[animation-direction="right"]{
    --animation-direction: reverse;
}
} */
 
#scroller[animation-direction="left"]{
    --animation-direction: forwards;
}
 
@keyframes scroll{
    to{
        transform : translate(-50%);
    }
}